 /* shared style */
 .all-title-shared {
   font-weight: 700;
   font-size: 40px;
   text-align: left;
 }

 .all-description-shared {
   font-weight: 400;
   font-size: 16px;
   text-align: left;
   color: rgba(14, 14, 14, 0.7);


 }

 .shared-bg-1 {
   background-color: rgb(84, 144, 245, 0.2)
 }

 .shared-bg-2 {
   background-color: rgb(198, 228, 214)
 }

 .shared-bg-3 {
   background-color: rgb(247, 235, 207)
 }


 /* /this is fot button */

 .btn-shared {
   border-radius: 5px;
   border: none;
   color: white;
   font-weight: 600;
   font-size: 14px;
   padding: 11px, 20px, 11px, 20px;

 }

 .btn-bg-1 {
   background-color: rgb(84, 144, 245);
   height: 30px;
   width: 110px;
 }

 .btn-bg-2 {
   background-color: rgb(9, 161, 92);
   height: 30px;
   width: 110px;
 }

 .btn-bg-3 {
   background-color: rgb(255, 194, 57);
   height: 30px;
   width: 110px;
 }

 .btn-bg-redmore {
   background-color: rgb(0, 106, 80);
   height: 30px;
   width: 110px;

 }

 .text-center{
  text-align: center;
 }

 .btn1{
  height: 40px;
  width: 160px;
  gap: 50px;
  box-shadow: 0px 6px 56px 0px rgba(0, 0, 0, 0.09);
  border: none;
  box-shadow: 0px 6px 56px 0px rgba(0, 0, 0, 0.09);

 }







 /* banner starts */
 .banner-header {
   max-width: 1280px;
   margin: 0 auto;
   margin-top: 166px;
   margin-bottom: 80px;



 }

 .banner-section {
   background-color: rgb(198, 228, 214);
   border-radius: 20px;
 }

 .banner-div {
   display: flex;
 }

 .banner-title {
   padding-top: 70px;
   padding-left: 59px;
   font-size: 20px;
   font-weight: 500;
   color: rgba(14, 14, 14, 0.5);

 }

 .banner-description {
   padding-top: 120px;
   padding-left: 10px;
   padding-right: 50px;
   font-weight: 700;
   font-size: 56px;
 }

 .banner-btn {

   font-size: 20px;
   background-color: rgba(0, 106, 80, 1.00);
   color: white;
   border: 0px;
   padding: 30px 50px;
 }


 /* main sharts from here */

 main {
   max-width: 1280px;
   margin: 0 auto;
   font-family: Fira sans;
 }


 main section {
   margin-top: 130px;
   margin-bottom: 130px;
 }


 /* vision start from here */
 .vision-container {
   display: flex;
   gap: 50px;
   padding: 30px;


 }

 .vision-mini {
   border-radius: 10px;
   padding: 30px;
 }

 /* news stars form here */
 /* .news-title{ */




 .news-image-1 {
   border-radius: 20px;


 }

 .news-page-1 {
   display: flex;
   gap: 32px;
   /* box-shadow: 0px 6px 56px 0px rgba(0, 0, 0, 0.06); */
   box-shadow: 0px 6px 56px 0px rgba(0, 0, 0, 0.09);
   border-radius: 20px;
 }


 .news-image-container2 {
   margin-top: 24px;

 }






 .news-image-container2 {
   flex-direction: row-reverse;
   /* flex-direction: row-reverse; */
 }

 .news-page-2 {

   display: flex;
   flex-direction: row-reverse;
   box-shadow: 0px 6px 56px 0px rgba(0, 0, 0, 0.09);
   border-radius: 20px;
   gap: 30px;


 }


 .news-image1-title {
   font-size: 32px;
   font-weight: 700;
   color: rgba(14, 14, 14, 0.8);
 }

 .news-image1-description {
   font-weight: 400;
   font-size: 16px;

   color: rgba(14, 14, 14, 0.7);

 }

 .date {
   font-weight: 400;
   font-size: 16px;
   color: rgba(14, 14, 14, 0.7);
   

  }

  /* footer starts from here  */

  footer{
    max-width: 1330px;
    margin: 0 auto;
  }

  .area{
     /* padding-left: 400px; */
     margin-left: 315px;
     margin-top: 32px;
     

  }

  .last-button{
    border-radius: 5px;
   border: none;
   color: white;
   font-weight: 600;
   font-size: 14px;
   padding: 11px, 20px, 11px, 20px;
   background-color: rgb(0, 106, 80);
   height: 30px;
   width: 110px
  }

  .last-button{
   margin-left: 590px;

  }

  .container-footer{

    box-shadow: 0px 6px 56px 0px rgba(0, 0, 0, 0.09);
    
  }


  .btn1{
    font-weight: bold;

    font-size: 20px;

  }
   
   

    


